.course h2 {
  margin: 0 2rem;
  color: whitesmoke;
}

@media (min-width: 320px) {
  .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: initial;
    height: 100%;
  }
  .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .course {
    margin: 1rem 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    border: whitesmoke 2px solid;
    cursor: pointer;
  }
  .course:hover{
    background: #1e1e1e;
  }
  .course img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .course a {
    width: 100%;
    height: 30%;
  }
}

@media (min-width: 768px) {
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
  }
  .course {
    padding: 0;
    margin: 1rem;
    width: 50%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    cursor: pointer;
  }
  .course:hover {
    background: #1e1e1e;
    transform: scale(5rem);
  }
  .course img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .course a {
    width: 100%;
    height: 30%;
  }
}
