#s-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#s-1 span {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: white solid 3px;
}
#s-1 i {
  padding: 0 1rem;
}
.step {
  background: #121212;
  padding: 1rem;
  border-radius: 2rem;
  overflow: auto;
  margin: 0.5rem 0;
  color: whitesmoke;
  border: whitesmoke 2px solid;
}
.pageImg {
  background: #121212;
  width: 100%;
  overflow: auto;
  text-align: center;
  border-radius: 2rem;
  color: whitesmoke;
  border: whitesmoke 2px solid;
}
.course-img {
  width: 100%;
  overflow: auto;
}
.pageImg img {
  width: 100%;
  overflow: hidden;
  opacity: 80%;
}

.history {
  height: 0;
  overflow: hidden;
}
.history.roll {
  height: 100%;
}
.admin {
  height: 0;
  overflow: hidden;
  width: 100%;
}
.admin.roll {
  height: 100%;
}
.teacher {

  height: 0;
  overflow: hidden;
}
.teacher.roll {
  height: 100%;
}
.tree {
  height: 0;
  overflow: hidden;
}
.tree.roll {
  height: 100%;
}
.of {
  height: 0;
  overflow: hidden;
}
.of.roll {
  height: 100%;
}

.crushing {
  width: 100%;
  display: flex;
  margin: 2rem 0;
  padding: 1rem;
  justify-content: space-evenly;
}
.crushing img {
  width: 50%;
  height: 100%;
  padding: 0 1rem;
}
.crushing video {
    width: 50%;
    height: 100%;
    padding: 0 1rem;
  }
.crushing-desc {
  width: 50%;
  padding: 0rem 1rem;
}
